.App {
  text-align: center;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.LandingBackground{
  background-image: url(http://farm1.static.flickr.com/157/413149404_f5ebc842a6.jpg);
  position: relative;
  background-repeat: repeat;
  animation: animate 10s linear infinite;
}
@keyframes animate{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 98% 0;
  }
}

.profileImg{
  border-radius: 50%;
  border: 0.5px solid #ddd;
  margin: 10px;
}
.spotLightTop{
  border-radius: 15px 15px 0px 0px;
  background:#0088cc;
  padding: 20px; 
  width: 200px;
  height: 45x; 
}
.spotLightBottom{
  border-radius: 0px 0px 15px 15px;
  background:#0088cc;
  padding: 20px; 
  width: 200px;
  height: 45x; 
}

.navSearchBtn{
  background-color: white;
  color: #0088cc;
  border: 2px solid #0088cc;
}
.navBtns{
  background-color: white;
  border: none;
  text-decoration: none;
  margin: 2px;
}

.navBarCSS{
  border-bottom: 0.5px solid #0088cc;
}

.regForm{
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background: #ffffff88;
  text-align: center;
}


.regInput{
  background: white;
  margin: 3px;
  border-radius: 13px;
  text-align: center;
}

ModalHeaderFix{
  background:#0088cc;
  color: white;
}

.searchDivs{
  margin: 5px;
}

.searchInputs{
  margin: 5px;
  border: 0.5px solid #DDD;
  text-align: center;
}

label{
  font-size: 20px;
}

table{
  width: 100%;
}

tr > td {
  padding: 6px;
}

tr > td:first-child {
  text-align: left;
}
.evalWrapper label {
  color: black;
}

.NavLink{
  text-decoration: none;
}