.App {
  text-align: center;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.LandingBackground{
  background-image: url(http://farm1.static.flickr.com/157/413149404_f5ebc842a6.jpg);
  position: relative;
  background-repeat: repeat;
  animation: animate 10s linear infinite;
}
@keyframes animate{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 98% 0;
  }
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 17px;
}
.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 17px;
  background: rgb(19, 113, 175);
  cursor: pointer;
  border-radius: 10px;
}
.login-box input[type="submit"]:hover {
  background: rgb(37, 147, 221);
  color: #fff;
}

.Submit input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 17px;
  background: rgb(19, 113, 175);
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
.Submit input[type="submit"]:hover{
  background: white;
  color: rgb(19, 113, 175);
  border: 2px solid rgb(19, 113, 175);
}

.profileImg{
  border-radius: 50%;
  border: 0.5px solid #ddd;
  margin: 10px;
}

.navSearchBtn{
  background-color: white;
  color: #0088cc;
  border: 2px solid #0088cc;
}
.navBtns{
  background-color: white;
  border: none;
  text-decoration: none;
  margin: 5px;
}

.navBarCSS{
  border-bottom: 0.5px solid #0088cc;
}

.regForm{
  padding: 20px;
  border-radius: 10px;
  background: white;
  text-align: center;
  color: rgb(40, 13, 102);
}

.regInput{
  background: white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #cacbcc;
  height: 40px;
  font-size: 17px;
}

ModalHeaderFix{
  background:#0088cc;
  color: white;
}

.searchDivs{
  margin: 5px;
}

.searchInputs{
  margin: 5px;
  border: 0.5px solid #DDD;
  text-align: center;
}

label{
  font-size: 20px;
}

.TableReg{
  width: 100%;
}

.TableReg tr > td {
  padding: 6px;
}

.TableReg tr > td:first-child {
  text-align: left;
}
.evalWrapper label {
  color: black;
}

.evalWrapper fieldset {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.evalWrapper fieldset:last-of-type {
  border: none;
}

.answersWrapper {
  text-align: left;
  margin-left: 20px;
}

.answersWrapper select {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
}

.answersWrapper input[type="text"] {
  margin: 8px;
  margin-left: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
}

.answersWrapper input[type="radio"] {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.NavLink{
  text-decoration: none;
}

.FAQCSS{
  text-align: left;
  margin: 30px;
}

.ProfileBackground{
  position: relative;
}
.ProfileBackground > input {
  position: absolute;
  bottom: -35px;
  right: 0%;
  border: 2px solid red;
}
.MainProfileImg{
  border: 3px solid #ddd;
  position: absolute;
  bottom: 0;
  left: 5%;
  transform: translateY(50%);
}
.MainProfileImg > img {
  max-width: 260px;
}
.MainProfileImg > input {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid red;
  background: #ffffffdb;
}

.MiniPicGrid{
  display:grid;
  grid-area: mini;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  border: 0.5px solid #ddd;
  max-height: 400px;
  overflow: auto;
}

.ProfileQuick{
  margin: 145px 20px 0px 67px;
}

.ProfileInfo{
  width: 50%;
  text-align: left;
  padding: 10px 10px 10px 0px;
  margin-bottom: 20px;
}

.ProfileInfo > table{
  width: 100%;
}
.AboutMe{
  text-align: left;
  width: 50%;
  margin: 20px 20px 20px 67px;
}

.MainProfileGrid{
  display: grid;
  grid-template-areas: 
    "top top"
    "bottom mini"
    "footer footer";
}

.TopContent{
  grid-area: top;
}

.BottomContent{
  grid-area: bottom;
}

.Footer{
  grid-area: footer;
}


.viewQuestions{
  margin:5px;
  text-align: center;
  color: #0088cc;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.viewQuestions > div {
  text-align: left;
  padding: 5px;
}

.viewQuestions > div >input {
  margin-right: 15px;
  width: 15px;
  height: 15px;
}

.AnswerQuestions{
  border-radius: 15px;
}

.answerQuestionsBtn {
  text-align: center;
  padding-bottom: 10px;
}

.answerQuestionsBtn > input {
  color: white;
  background: #0088cc;
  border: 2px solid #0088cc;
  border-radius: 5px;
  padding: 8px 18px;
}
.ProfileImgWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.MainContacts{
  background-color: #0088cc;
}