.App {
  text-align: center;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* div{
  border: 1px solid black;
  margin: 5px;
} */

.LandingBackground{
  background-image: url(http://farm1.static.flickr.com/157/413149404_f5ebc842a6.jpg);
  position: relative;
  background-repeat: repeat-x;
  animation: animate 11s linear infinite;
}
@keyframes animate{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.profileImg{
  width: 100%
}